{{/* Author box for blog posts */}}
<div class="author-box">
  <div class="author-avatar">
    <svg viewBox="0 0 80 80" xmlns="http://www.w3.org/2000/svg">
      <circle cx="40" cy="40" r="40" fill="#E8E2D9"/>
      <circle cx="40" cy="32" r="12" fill="#C8B99A"/>
      <ellipse cx="40" cy="62" rx="20" ry="14" fill="#C8B99A"/>
    </svg>
  </div>
  <div class="author-info">
    {{ if eq .Lang "pl" }}
    <div class="author-label">O autorze</div>
    <div class="author-name">Redakcja Best of Calabria</div>
    <p>Zespół pasjonatów południowych Włoch, którzy od lat eksplorują Kalabrię i dzielą się wiedzą o jej najpiękniejszych zakątkach, kuchni i kulturze.</p>
    {{ else }}
    <div class="author-label">About the author</div>
    <div class="author-name">Best of Calabria Editorial</div>
    <p>A team of southern Italy enthusiasts who have been exploring Calabria for years, sharing insights about its most beautiful corners, cuisine, and culture.</p>
    {{ end }}
  </div>
</div>
