{{/* Author box – shown on all content pages (E-E-A-T) */}}
<div class="author-box">
  <div class="author-avatar">
    <img src="/images/karina-avatar.webp" alt="{{ if eq .Lang "pl" }}Karina – autorka Best of Calabria{{ else }}Karina – author of Best of Calabria{{ end }}" width="56" height="56" loading="lazy">
  </div>
  <div class="author-info">
    {{ if eq .Lang "pl" }}
    <div class="author-label">O autorce</div>
    <div class="author-name">Karina</div>
    <p>Pasjonatka podróży i Włoch, szczególnie Kalabrii. Odkrywa najpiękniejsze zakątki południowych Włoch i dzieli się swoimi doświadczeniami, aby inspirować innych do wypraw w ten magiczny region.</p>
    {{ else }}
    <div class="author-label">About the author</div>
    <div class="author-name">Karina</div>
    <p>A passionate traveller and Italy enthusiast, especially in love with Calabria. She explores the most beautiful corners of southern Italy and shares her experiences to inspire others to visit this magical region.</p>
    {{ end }}
  </div>
</div>
