{{/* Author box for blog posts */}}
<div class="author-box">
  <div class="author-avatar">
    <svg viewBox="0 0 80 80" xmlns="http://www.w3.org/2000/svg">
      <circle cx="40" cy="40" r="40" fill="#E8E2D9"/>
      <circle cx="40" cy="32" r="12" fill="#C8B99A"/>
      <ellipse cx="40" cy="62" rx="20" ry="14" fill="#C8B99A"/>
    </svg>
  </div>
  <div class="author-info">
    {{ if eq .Lang "pl" }}
    <div class="author-label">O autorce</div>
    <div class="author-name">Karina</div>
    <p>Pasjonatka podróży i Włoch, szczególnie Kalabrii. Odkrywa najpiękniejsze zakątki południowych Włoch i dzieli się swoimi doświadczeniami, aby inspirować innych do wypraw w ten magiczny region.</p>
    {{ else }}
    <div class="author-label">About the author</div>
    <div class="author-name">Karina</div>
    <p>A passionate traveller and Italy enthusiast, especially in love with Calabria. She explores the most beautiful corners of southern Italy and shares her experiences to inspire others to visit this magical region.</p>
    {{ end }}
  </div>
</div>
